<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjlKfKtdEwSdAgjU9kDQQM4y9lpK_xAjw</string>
	<key>GCM_SENDER_ID</key>
	<string>941727919812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactSagaFirebase</string>
	<key>PROJECT_ID</key>
	<string>fetchapiproject-3b7a4</string>
	<key>STORAGE_BUCKET</key>
	<string>fetchapiproject-3b7a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941727919812:ios:c640edd6f15ab377c0a391</string>
</dict>
</plist>